Repository iaissaoui/beer-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, docker-build-backend, docker-build-frontend

maven-build:
  image: maven:3-jdk-8
  stage: build
  script:
  - cd $BACKEND_FOLDER
  - mvn package -B
  artifacts:
    paths:
    - $BACKEND_FOLDER/target/*.jar

docker-build-backend:
  stage: package
  script:
  - docker login -u $DOCKER_LOGIN -p $DOCKER_TOKEN
  - echo "--- build docker image [back-end] ---"
  - docker build -t $DOCKER_LOGIN/$BACKEND_FOLDER $BACKEND_FOLDER
  - docker push $DOCKER_LOGIN/$BACKEND_FOLDER

docker-build-frontend:
  stage: package
  script:
  - docker login -u $DOCKER_LOGIN -p $DOCKER_TOKEN
  - echo "--- build docker image [front-end] ---"
  - docker build -t $DOCKER_LOGIN/$FRONTEND_FOLDER $FRONTEND_FOLDER
  - docker push $DOCKER_LOGIN/$FRONTEND_FOLDER

setting up docker-compose change urls to docker services names
  demo-ng/src/environments/environment.ts
  demo/src/main/resources/application.properties
  docker-compose.yml
  keycloak/tmp/import/beer-realm.json
Due: maven-build, docker-build-backend, docker-build-frontend

only changes not triggering removed for now
  .gitlab-ci.yml
Due: none

fix antMatcher to prohibit access to sub-directories
  demo/src/main/java/com/example/demo/config/security/KeycloakConfiguration.java
Due: maven-build, docker-build-backend

CORS issue test
  demo-ng/docker/nginx/default.conf
Due: docker-build-frontend

nginx routing test
  demo-ng/docker/nginx/default.conf
  demo-ng/src/environments/environment.ts
Due: docker-build-frontend

prepairing dockerfiles and compose for local devs prepairing for cors issues resolution
  .env
  .gitlab-ci.yml
  demo-ng/docker/nginx/default.conf
  demo-ng/dockerfile-ci
  demo-ng/src/environments/environment.ts
  demo/Dockerfile
  demo/docker/compose.txt
  demo/dockerfile-ci
  demo/src/main/java/com/example/demo/config/security/CrossOriginConfiguration.java
  demo/src/main/resources/application.properties
  docker-compose/remote.docker-compose.yml
Due: maven-build, docker-build-backend, docker-build-frontend

different docker file for gitlab ci
  .gitlab-ci.yml
Due: none

fix path to dockerfile-ci
  .gitlab-ci.yml
Due: none

Basic ControllerAdvice test
  demo/src/main/java/com/example/demo/api/BeersAPI.java
  demo/src/main/java/com/example/demo/core/errors/advice/ApplicationControllerAdvice.java
  demo/src/main/java/com/example/demo/service/BeerService.java
Due: maven-build, docker-build-backend

Path conditions:
  maven-build: any of: demo/**/*
  docker-build-backend: any of: demo/**/*
  docker-build-frontend: any of: demo-ng/**/*
